@import '~@/scss/base';

body {
  font-family: $font-text;
}

.body-locked {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}

.bar-of-progress::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px currentColor,
    0 0 5px currentColor;
  transform: rotate(3deg) translate(0, -4px);
}

.object-fit {
  width: 100% !important;
  height: 100% !important;
  object-position: center;
  object-fit: cover;
}

.hand {
  cursor: pointer;
}

img {
  max-width: 100%;
}

@include media-breakpoint-up(lg) {
  .container {
    max-width: 1200px;
  }
}

.back-to-top {
  position: fixed;
  z-index: 999;
  width: 45px;
  height: 45px;
  color: #ffffff;
  right: 30px;
  bottom: 30px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  
  background-image: url('~@/assets/icons/icon-angle-up.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.25s ease-out;

  @include mobile() {
    right: 15px;
    bottom: 20px;
  }

  &:hover {
    opacity: 0.68;
  }

  // Hide style
  &:not(.show) {
    opacity: 0;
    pointer-events: none;
  }
}

