@import '~@/scss/base.scss';

h1,
h2,
h4,
h5,
h6 {
  font-family: $font-heading;
}

.font-size-sm {
  font-size: 14px;
}

.font-size-md {
  font-size: 18px;
}

.font-size-xs {
  font-size: 12px;
}

.font-size-lg {
  font-size: 24px;
}

.font-text {
  font-family: $font-text;
}

.font-heading {
  font-family: $font-heading;
}