@import './variables.scss';

@mixin full-viewport {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type==string {
    $class: $min;
    @if $class==xs {
      @media (max-width: 575px) {
        @content;
      }
    } @else if $class==sm {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $class==md {
      @media (max-width: 991px) {
        @content;
      }
    } @else if $class==lg {
      @media (max-width: 1199px) {
        @content;
      }
    } @else if $class==sm-up {
      @media (min-width: 576px) {
        @content;
      }
    } @else if $class==md-up {
      @media (min-width: 768px) {
        @content;
      }
    } @else if $class==lg-up {
      @media (min-width: 992px) {
        @content;
      }
    } @else if $class==hlg-up {
      @media (min-width: 1200px) {
        @content;
      }
    } @else if $class==tablet {
      @media (min-width: 768px) and (max-width: 1199px) {
        @content;
      }
    } @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg, mxs, msm, mmd, mlg";
    }
  } @else if $type==number {
    $query: 'all' !default;
    @if $min !=0 and $max !=0 {
      $query: '(min-width: #{$min}) and (max-width: #{$max})';
    } @else if $min !=0 and $max==0 {
      $query: '(min-width: #{$min})';
    } @else if $min==0 and $max !=0 {
      $query: '(max-width: #{$max})';
    }
    @media #{$query} {
      @content;
    }
  }
}

@mixin box-shadow() {
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}

@mixin text-shadow() {
  text-shadow: 10px 20px 48px rgba(0, 0, 0, 0.8);
}

// Responsive by devices
@mixin mobile-small() {
  @include breakpoint($max: 360px) {
    @content;
  }
}

@mixin mobile() {
  @include breakpoint($max: 767px) {
    @content;
  }
}

@mixin tablet() {
  @include breakpoint($min: 768px, $max: 1199px) {
    @content;
  }
}

@mixin tablet-up() {
  @include breakpoint($min: 768px) {
    @content;
  }
}

@mixin tablet-down() {
  @include breakpoint($max: 1199px) {
    @content;
  }
}

@mixin desktop() {
  @include breakpoint($min: 1200px) {
    @content;
  }
}

@mixin desktop-large() {
  @include breakpoint($min: 1440px) {
    @content;
  }
}

@mixin desktop-small() {
  @include breakpoint(
    $min: 1200px,
    $max: 1366px
  ) {
    @content;
  }
}

@mixin ratio-frame($ratio) {
  position: relative;
  height: 0;
  padding-bottom: 100% / $ratio;
}

@mixin default() {
  &:not(:hover) {
    @content;
  }

  &:hover {
    @content;
  }
}

// ui mixins
@mixin drop-shadow {
  filter: drop-shadow(
    0px 3px 8px rgba(0, 0, 0, 0.3)
  );
}

@mixin hover() {
  // Desktop
  @include desktop() {
    &.active,
    &:focus,
    &:active,
    &:hover {
      @content;
    }
  }

  // Tablet down
  @include tablet-down() {
    &.active,
    &:active {
      @content;
    }
  }
}

@mixin object-center() {
  object-fit: cover;
  object-position: center;
}

@mixin ratio-frame($ratio) {
  position: relative;
  height: 0;
  padding-bottom: 100% / $ratio;
}

@mixin col-padding($size) {
  margin-left: -$size;
  margin-right: -$size;

  > [class*='col-'] {
    padding-left: $size;
    padding-right: $size;
  }
}

@mixin font-heading {
  font-family: $font-heading;
}

@mixin font-text {
  font-family: $font-text;
}

@mixin toggle-icon-by-class($activeClass) {
  i {
    &:nth-child(2) {
      display: none;
    }
  }

  &#{$activeClass} {
    i {
      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        display: inline;
      }
    }
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-fit() {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin single-line-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin arrow-down($size, $color) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}

@mixin expand-gutter() {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
  width: auto;
}

@mixin image-center() {
  img {
    @include absolute-center();
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin image-fit() {
  img {
    @include absolute-fit();
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

@mixin hover-shadow() {
  transition: 0.2s all ease-in-out;
  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

@mixin bottom-line() {
  transition: all 0.2s ease-in-out;
  border-bottom: 8px solid #adadad;

  &:hover {
    border-bottom: 8px solid $color-pink-100;
  }
}

@mixin better-scrollbar() {
  -webkit-overflow-scrolling: touch;
  /* total width */
  &::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.01);
    width: 8px;
    border-radius: 8px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 8px;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#babac0, 0.3);
    border-radius: 8px;
    transition: all 0.3s linear;

    &:hover {
      background-color: rgba(#babac0, 0.8);
    }
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}
