// Load base bootstrap
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$z-index-header: 1000;
$z-index-loading: 1100;
$z-index-toast: 1101;
$z-index-modal: 1001;

$font-heading: Roboto, sans-serif;
$font-text: Roboto, sans-serif;

/**
 *  CONFIGURE BOOSTRAP 5
 */

$primary: #BB21AB;
$secondary: $secondary;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);
