@import '~@/scss/base.scss';

/** Style for style guide page */
.style-guide-page {
  .page-intro {
    text-align: center;
    padding: 0 0 50px 0;

    h1 {
      font-family: serif;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  section {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    > h2 {
      font-family: Helvetica, sans-serif;
      font-weight: 600;
    }

    .section-content {
      margin-top: 50px;
    }
  }

  .section {
    &-typography {
      .headings {
        > * {
          margin-bottom: 30px;
        }
      }
    }

    &-colors {
      .color-list {
        margin-bottom: 40px;

        h3 {
          margin-bottom: 20px;
        }
      }

      .square {
        @include ratio-frame(1);
        box-shadow: 0px 0px 10px 0px
          rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;

        & + p {
          font-weight: 500;
        }
      }
    }

    &-buttons {
      h3 {
        margin-bottom: 30px;
      }

      .btn {
        min-width: 100px;
      }

      .button-list {
        margin-bottom: 20px;
        margin-left: -10px;
        margin-right: -10px;

        .btn {
          margin: 10px 10px;
          min-width: 160px;
        }
      }
    }
  }
}
