@import '~@/scss/base';

$animating-time: 200ms;

.base-modal {
  .modal-mask {
    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    will-change: opacity;
    display: flex;
    justify-content: center;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    margin: 40px 0;
  }

  .modal-container {
    width: 600px;
    max-width: calc(100vw - 40px);
    margin: 0px auto;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    will-change: transform;
    position: relative;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  }

  .modal-close-btn {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 12px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
    @include mobile() {
      right: 23px;
    }
  }

  .base-modal-body {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .base-modal-overlay {
    @include absolute-fit();
    background: rgba(47, 44, 42, 0.98);
  }
}

// Animation setup
.modal-mask {
  &.enter {
    opacity: 0;
    .modal-container {
      transform: scale(0.9);
    }
  }

  &.enter-active {
    opacity: 1;
    transition: opacity $animating-time;
    .modal-container {
      transform: translateX(0);
      transition: transform $animating-time;
    }
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    opacity: 0;
    transition: opacity $animating-time;
    .modal-container {
      transform: scale(0.9);
      transition: transform $animating-time;
    }
  }
}
